{% extends "layout.html" %}
{% block title %}Slet spørgsmål{% endblock %}

{% block content %}
<div class ="overskrift">
    <h3>Slet spørgsmål:</h3>
</div>
    {% for class in classes %}

    <div class ="center1">
        <h2>Klasse: {{ class.name }}</h2>

        {% if class.questions|length %}
            {% for question in class.questions %}
                <p>{{ question.questionText }}</p>

                <form action="/delete_questions" method="POST">
                    <input type="hidden" name="question_id" value="{{ question.id }}">
                    <button type="submit" id="knap">Slet spørgsmål</button>
                </form>
            {% endfor %}
        {% else %}
            <p>Der er ikke flere spørgsmål i denne klasse</p>
        {% endif %}
        <br>

    </div>
    {% endfor %}
{% endblock %}
