{% extends "layout.html" %}
{% block title %}Hovedmenu{% endblock %}

{% block content %}

    <div class ="welcome">
        <h1>Welcome to AcadeMate </h1>
    </div>

    <div class="info">
        <h2>Hvad handler denne side om</h2>
        <p>Denne hjemmeside er en læringsplatform for at kunne se udviklingen af skoleelever.
            Den er til at teste elever på en nem og minimalistisk måde. 
            Den er både til at få lærerne og eleverne til at bedømme bedre, og klare sig bedre.
            </p>
    </div>

    <img id = "ab" src="../../static/images/ab.png" alt="ab">

    {% if current_user.is_authenticated %}
        <div class="text">
            {% if current_user.teacher %}
                <a href="/teacher_startside">Se dine muligheder</a>
            {% else %}
                <a href="/test_velkommen">Gå til dine test</a>
            {% endif %}
        </div>


            {% else %}
<div class="button1">
    <form action = "/signup">        
    <button type="submit">Registrer </button>    
    </form>
</div>

    {% endif %}
{% endblock %}
