<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/stylesheet.css"/>
    <title>resultat</title>
</head>
<body>
    <div class ="topnav">
        <p><a href ="/"> AcadeMate</a></p>
        </div>

    <h1>Her er dine resultater</h1>
    <p>Du har svaret "det du svarede(fra db'en)" og det er "rigtig/forkert(fradb'en)"</p>

    <form action="/startside" method='POST'>
        <button type="submit" id ="knap">Tilbage</button>
        <br><br>
    </form>

    <div class ="footer">
        <a href="/"> Log ud </a>
        </div>



</body>
</html>
