<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/stylesheet.css"/>
    <title>resultat</title>
</head>
<body>
    <h1>Her er dine resultater </h1>
    <p>du har klaret det rigtig fint </p>

    <form action="/startside" method='POST'>
        <input type="text" id="name" name="name">
        <br><br>

        <button type="submit" id ="knap">Tilbage</button>
    </form>

    <form action="/hovedmenu" method='POST'>
        <br><br>

        <button type="submit">Log ud</button>
    </form>



</body>
</html>
