{% extends "layout.html" %}
{% block title %}Resultat{% endblock %}

{% block content %}
<div class ="text1">
    <h1>Her er dine resultater</h1>

    {% for question_data in questions %}
        <p>{{ question_data["question"].questionText }}</p>

        <p>Dit svar: <b>{{ question_data["answer"] }}</b></p>

        {% if question_data["correct"] %}
            <p style="color: green;">Det var det rigtige svar!</p>
        {% else %}
            <p style="color: red;">Det var ikke det rigtige svar</p>
        {% endif %}

        <hr>
    {% endfor %}
</div>
<br>
{% endblock %}
