<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/stylesheet.css"/>
    <title>student</title>
</head>
<body>
    <h1> Hej, {{ name }} tryk start for at starte din test </h1>
    <p> Din test vil være i faget mat </p>
<b> </b>
<p> dato <span id="datetime"></span> </p>

    <form action="/test" method='POST'>
        <button type="submit" id ="knap">Start test</button>
    </form>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();

</script>

    <a href="/"> Log ud </a>

</body>
</html>
