<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/stylesheet.css"/> 
    <title>student</title>
</head>
<body>
    <h1> Tryk start for at starte din test </h1>
    <p> Din test vil være i faget mat </p>
<b> </b>
<p> dato <span id="datetime"></span> </p>

    <form action="/test" method='POST'>
        <input type="text" id="name" name="start">
        <br><br>

        <button type="submit" id ="knap">start</button>
    </form>
<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleDateString();

</script>


</body>
</html>
