<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/stylesheet.css"/>


<title>student_login </title>

</head>
<body>

    <div class ="topnav">
        <p><a href ="/"> AcadeMate</a></p>
        </div>

    <h1>Login som elev </h1>

    <p>login siden </p>

    <form action="/startside" method='POST'>
        <div class ="container">
        <label> Brugernavn:</label>
            <input type="text" placeholder ="Brugernavn" id="name" name="name" required><br>

            <br></br>
        <label> Kodeord: </label>
        <input type="password"placeholder ="Kodeord" id="code" name="code" required><br>
        <br></br>
        <button type="submit"  id ="knap">Login</button>
        </div>
    </form>

<a href="/signup"> register </a>



</body>

</html>
