{% extends "layout.html" %}
{% block title %}Elev login{% endblock %}

{% block content %}

<div class ="student_login" style="transform-origin: 0px 0px;">
<!-- Grunden til at denne form ikke har nogen action attribute -->
<!-- ER fordi at den bare skal sende request'en til det url som denne form allerede er på! -->
<!-- Det er det browseren/html koden gør som standard når der ikke er nogen action attribute angivet i en form! -->
<form method='POST'>
    <div class="container">
        {% if error_msg %}
        <p>{{ error_msg }}</p>
        {% endif %}

        <label>Email:</label>
        <input type="email" placeholder="Email" name="email" required><br>
        <br></br>

        <label>Kodeord:</label>
        <input type="password" placeholder="Kodeord" name="password" required><br>
        <br></br>

        <button type="submit" id="knap">Login</button>
    </div>
</form>

<a href="/signup">Register</a>
</div>
        

{% endblock %}
