{% extends "layout.html" %}
{% block title %}Lærer login{% endblock %}

{% block content %}
<h1>Login som lærer</h1>

<form method='POST'>
    <div class="container">
        {% if error_msg %}
        <p>{{ error_msg }}</p>
        {% endif %}

        <label>Email:</label>
        <input type="email" placeholder="Email" name="email" required><br>
        <br></br>

        <label>Kodeord:</label>
        <input type="password" placeholder="Kodeord" name="password" required><br>
        <br></br>

        <button type="submit" id="knap">Login</button>
    </div>
</form>

<a href="/signup">Register</a>
{% endblock %}
