<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles/stylesheet.css"/>


<title>Lærer login </title>

</head>
<body>
    <div class ="topnav">
        <p><a href ="/"> AcadeMate</a></p>
        </div>

    <h1>Login som lærer </h1>

    <form action="/resultat" method='POST'>
        <input type="text" id="name" name="name"><br>

        <br><br>
        <input type="password" id="code" name="code"><br>
        <button type="submit"  id ="knap">login</button>
    </form>
</body>
</html>
