{% extends "layout.html" %}
{% block title %}Lærer startside{% endblock %}

{% block content %}
<div class="header">
    <h1>Velkommen {{ name }}</h1>
</div>
<p><span id="datetime"></span></p>
<div class="text1">
    
    <br>
    <p>
    Du har i alt fire muligheder:
    <ol>
        <li>Du kan oprette flere spørgsmål til dine elever,</li>
        <li>Slette spørgsmål,</li>
        <li>Du kan se alle dine elevers resultater, sidst men ikke mindst,</li>
        <li>Kan du se alle de elever der ikke har fået tildelt en klasse endnu og netop tildel dem en klasse.</li>
    </ol>
    </p>

</div>

<div class=text2>

    <ol>

   <li> <a href="/opret_flere_questions">Lav test</a></li>
   <li><a href="/delete_questions">Slet spørgsmål</a></li>
    <li><a href="/elev_resultat_liste">Se resultater fra alle klasser</a></li>
    <li><a href="/elev_uden_klasse_liste">Se elev uden klasse liste</a></li>
    </ol>
</div>

{% endblock %}

{% block scripts %}
<script>
    const date = new Date();
    document.getElementById("datetime").innerHTML = date.toLocaleDateString();
</script>
{% endblock %}
