<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/styles/stylesheet.css"/>
    <title>Testside</title>
</head>
<body>


<div class = "container2">
    <div class ="center">
    <h1>Svar på testen</h1>
</div>
</div>


    <div class = "select" style= "width: 200px">
        <p>{{ question.questionText }}</p>
    <form action="/resultat" method='POST'>
        <label for ="answer">Svar: </label>
		<input type="hidden" name="id" value="{{ question.id }}"/>
      <select name="answer" id="answer">
        <option value = "1">{{ question.answer1 }}</option>
        <option value = "2">{{ question.answer2 }}</option>
    </select>
	</div>
     <button type="submit" id="knap">slut test</button>
	 </form>

  

    


</body>

</html>
