{% extends "layout.html" %}
{% block title %}Student{% endblock %}

{% block content %}
<div class ="header">
    <h1>Hej, {{ name }} tryk start for at starte din test</h1>
</div>

<div class ="middle">
    <p>Dato <span id="datetime"></span></p>
    <p>Din test vil være i faget mat</p>
    <b></b>
    <a href="/test">Start test</a>
</div>
{% endblock %}

{% block scripts %}
<script>
    const date = new Date();
    document.getElementById("datetime").innerHTML = date.toLocaleDateString();
</script>
{% endblock %}
