<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/stylesheet.css"/>
        <title>Testside</title>
    </head>
    <body>
        <h1>Svar på testen</h1>
        <p>{{ question.questionText }}</p>

        <div class="select" style="width: 400">
            <form action="/resultat" method='POST'>
                <label for="answer">Svar</label>

                <input type="hidden" name="id" value="{{ question.id }}"/>

                <select name="answer" id="answer">
                    <option value="1">{{ question.answer1 }}</option>
                    <option value="2">{{ question.answer2 }}</option>
                </select>

                <button type="submit" id="knap">Submit</button>
            </form>
        </div>
    </body>
</html>
