{% extends "layout.html" %}
{% block title %}Student{% endblock %}

{% block content %}
<div class ="header">
    <h1>Hej, {{ current_user.username }} tryk start for at starte din test</h1>
</div>

<div class ="middle">
    <p>Dato <span id="datetime"></span></p>
    {% if classes|length %}
        <p>Her kan du se alle de klasser du er medlem af og du kan så klikke på de test der er tildelt de klasser:</p>
        <b></b>
        {% for rel in classes %}
            <a href="/test/{{ rel.clazz.name }}">Start den test der er tildelt klassen {{ rel.clazz.name }}</a>
            <br>
        {% endfor %}
    {% else %}
        <p>Du er desværre ikke blevet tildelt nogen klasser, spørg din lærer om hjælp!</p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    const date = new Date();
    document.getElementById("datetime").innerHTML = date.toLocaleDateString();
</script>
{% endblock %}
