body {
  height: 100vh;
}

* {
  margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;

}

body {
  background: #7F89c4; /*baggrundsfarve*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*Font familie til baggrunden*/
  margin: 0;
  }  

.welcome {
float: right;
font-family: 'Times New Roman', Times, serif;
font-size: 40px;
width: 40%;
height: 40%;
color: white;
text-align: center;

} 

.header {
background-color: #BDB4BF;
padding: 20px;
text-align: center;
} 

#ab {
float: left;
position: absolute;
top: 0;
bottom: 0;
width: auto; /* to keep proportions */
height: auto; /* to keep proportions */
margin: auto auto 0; 

}

.topnav {
overflow: hidden;
background-color: #080957;
}

.topnav img {
float: left;
}

.topnav a  {
float: right;
text-decoration: none;
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
border: 1px;
border-left-style: solid;
text-align: center;
padding: 25px 20px;
color: #EFF2EF;
}
.topnav p  {
float: right; 
display: block;
text-align: center;
padding: 20px 0px;
padding-top: 0px;
padding-bottom: 0px;
color: #EFF2EF;
margin: 0;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.topnav a:hover {
  background-color: #ddd;
  }

.info{
  float: right;
  position: relative;
  top: 28%;
  left: 34%;
  background-color: rgb(255, 255, 255);
  text-align: left;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.middle{
  margin: auto;
  float: center;
  text-align: center;
  width: 50%;
  transform: translateY(-0%);
  border: 3px solid #73AD21;
  padding: 10px;
}


.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  float: center;
  text-align: center;
  border: 3px solid #73AD21;
  padding: 10px 0;
  background-image: url ("fot.png");
  background-color: lightslategrey;
}

.select {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border: 3px solid #73AD21
}

.select select{
background-color: #3f78a7;
color: white;
padding: 12px;
/*width: 250px;*/
font-size: 20px;
box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
-webkit-appearance: button;
appearance: button;
outline: none;
}
.select select option{
  padding: 30px;
}

.select:hover{
  opacity: 0.7;
  border-color: rgb(31, 5, 90);
}


  /*button attributes*/
button {
cursor: pointer;
background-color: rgb(47, 5, 102);
color: rgb(236, 236, 245);
padding: 15px;   
margin: 10px 0px; 
border-radius: 20px;
}
.button{
  float: right;
  position: relative;
top: 70%;
left: 50%;
}

button:hover {   /*Når man hover over button*/
  opacity: 0.7;   
}
.container {   /*<div> klassen containers attributes */
  padding: 25px;   
  background-color: rgb(4, 173, 230);  
}  
.container2 {
  height: 200px;
  position: relative;
  border: 3px solid green; 
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -66%);
  transform: translate(-50%, -66%);
}

input[type=text], input[type=password], input[type=email] {   
  width: 100%;   
  margin: 8px 0;  
  padding: 12px 20px;   
  display: inline-block;   
  border: 2px solid lightpink;   
  box-sizing: border-box;   
} 


