body {

  background: powderblue; /*baggrundsfarve*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /*Font familie til baggrunden*/
  }  
    
  /*button attributes*/
button {
background-color: cornsilk;
width: 10%;
color: darkblue;
padding: 15px;   
margin: 10px 0px;
border: none
}
button:hover {   /*Når man hover over button*/
  opacity: 0.7;   
}
.container {   /*<div> klassen containers attributes */
  padding: 25px;   
  background-color: rgb(4, 173, 230);  
}  

input[type=text], input[type=password] {   
  width: 100%;   
  margin: 8px 0;  
  padding: 12px 20px;   
  display: inline-block;   
  border: 2px solid lightpink;   
  box-sizing: border-box;   
} 


 /* #name {
     
      display: block;
      margin-right: auto;
      margin-left: auto;
  }

  #knap {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }*/


  h1 {
    text-align: center;
    color:red;
  }
  p {
 text-align: center;

    color: red;
  }